/*

Form Login Profile

*/

#formCandidateProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.loginProfileTitle {
    margin: auto;
    width: 280px;
}

#formCandidateProfile input {
    width: 350px;
}

.createAccount {
    margin-top: 15px;
    color: black;
}

.forgetPassword {
    margin-top: 5px;
    font-weight: 500;
}


/*

Form Create Profile

*/

#formCreateAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.createAccountTitle {
    margin: auto;
    width: 280px;
    font-size: 2em;
}

#formCreateAccount input {
    width: 350px;
}
