/*

Form Create Profile

*/

#createCompanyAccountContainer {
    width: 100%;
}

#createCompanyAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.createCompanyAccountTitle {
    margin: auto;
    width: 280px;
    font-size: 2em;
}

#companyProfileInfo {
    width: 80%;
    margin: 70px 30px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

#createCompanyAccount input {
    width: 100%;
}

#categoryContainer {
    width: 100%;
}

#companyDescription {
    padding: 10px;
}

#createAdContainer {
    display: none;
}

#createAdContainer.active {
    display: block;
}


/*

Form Login Profile

*/

#formCompanyProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.loginProfileTitle {
    margin: auto;
    width: 280px;
}

#formCompanyProfile input {
    width: 100%;
}

.createCompanyAccount {
    margin-top: 15px;
    color: black;
}

.forgetPassword {
    margin-top: 5px;
    font-weight: 500;
}


