#changeCandidatePassword {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#changeCandidatePassword h1 {
    font-size: 1.63em;
    margin: 15px;
}

#candidateEmail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#createNewCandidatePassword {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    visibility: hidden;
}