#changeCompanyPassword {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#changeCompanyPassword h1 {
    font-size: 1.63em;
    margin: 15px;
}

#validateEmail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#createNewPassword {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    visibility: hidden;
}